.block-01{
    background:yellow;
    width:200px;
    height:400px;
    float:left;
}

.lijn1 {
    background:#050103;
    width:8px;
    height:400px;
    margin-left: px;
    margin-bottom: 8px;
    float: left;
}

.lijn2 {
    background:#050103;
    width:8px;
    height:400px;
    margin-left: 250px;
    margin-bottom: 8px;
    float: left;
}

.block-02{
    background:red;
    width:150px;
    height:400px;
    float:left;
}

